
:root {
  --primary-color: rgb(85, 14, 67);
  --secondary-color: rgb(178, 154, 179);
  --tertiary-color: rgb(245, 245, 245);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: Helvetics, Arial, sans-serif;
  margin: 0;
}

h1 {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: bold;
}

h2 {
  color: var(--secondary-color);
  font-size: 22px;
  padding-bottom: 5px;
  padding-top: 5px;
}

p {
  color: var(--secondary-color);
  font-size: 14px;
}

header {
  padding: 5px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 0;
  text-shadow: 0 0 10px rgb(85, 14, 67);
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 2px 0;
}

#nav-ul {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

#nav-cat {
  padding: 2px 8px;
  font-weight: bold;
  font-size: 2vw;
  color: var(--secondary-color);
  text-shadow: 0 0 10px rgb(85, 14, 67);
}

#nav-cat2 {
  padding: 2px 8px;
  /* font-weight: bold; */
  font-size: 1.5vw;
  color: var(--secondary-color);

}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

.hero {
  padding: 65px 0;
  position: relative;
}

.hero h1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: var(--primary-color);
  font-size: 25px;
  text-align: right;
  padding: 5px;
}

#footer {
  padding: 30px 400px 20px 400px;
  background-color: var(--primary-color);
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  position: relative;
}

#my-name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  color: var(--secondary-color);
  margin: 0 400px 0 400px;
  text-shadow: 0 0 10px rgb(85, 14, 67);
}

#input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding-left: 5px;
}

#message {
  width: 100%;
  font-size: 18px;
  padding-left: 5px;
}

#me-title {
  padding: 25px 0 0 10px;
  text-align: left;
}

#me-text {
  margin: 0 75px 0 0;
  padding: 50px;
  font-size: 18px;
  text-align: center;
}

#picture-Dalia {
 margin: 40px 0 0 40px;
  border: solid var(--tertiary-color);
}

#all-work-title {
  padding: 25px 0 0 10px;
  text-align: left;
}

#work-title {
  padding: 40px 0 0 0px;
  font-size: 25px;
  text-align: left
}

#work-text {
  margin: 40px 75px 0 0;
  padding: 30px 0 0 0px;
  font-size: 18px;
  text-align: center;
}

#work-picture {
  border-right: solid var(--tertiary-color)
}

#contact-title {
  padding: 25px 0 0 10px;
  text-align: left;
}

#button {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--tertiary-color);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

#form {
  border-radius: 5px;
  background-color: rgb(178, 154, 179);
  margin: 50px 50px 0px 50px;
  padding: 20px;
}

#phone {
  padding: 50px;
}

.contact-label {
  width: 100%;
  padding: 10px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--secondary-color);
}

#message2 {
  font-size: 25px
}


@media screen and (max-width: 415px) {  

  header {
    padding: 0px;
  }

  #nav-cat {
    font-size: 18px;
    
  }
  
  #nav-cat2 {
    font-size: 16px;
  }

  #nav-cat3 {
    padding: 0px 20px 20px 150px;
  }
  
  .hero {
    padding: 40px;
    position: relative;
  }
  
  .hero h1 {
    font-size: 15px;
  }
  
  #footer {
    padding: 0px 30px 0px 30px;
    margin: 10px;
  }
  
  #my-name {
    font-size: 25px;
    margin: 0;
    padding: 0px;
  }

  #picture-Dalia {
    margin: 10px 25px 10px 60px;
  }
  
  #me-title {
    text-align: left;
    padding: 5px 
  }
  
  #me-text {
    margin: 0 0 0 0;
    font-size: 16px;
    text-align: center;
    padding: 14px;
  }
  
  #all-work-title {
    text-align: left;
    padding: 5px;
  }
  
  #work-title {
    font-size: 20px;
    text-align: left;
    padding: 5px;
  }

  #work-title2 {
    font-size: 20px;
    text-align: left;
    padding: 3px 3px 30px 12px;
  }
  
  #work-text {
    margin: 3px 5px 0 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
  }
  
  #work-picture {
    margin: 10px 10px 0px 30px;
    width: 100%;
  }
  
  #form {
    padding: 20px;
    margin: 4px;
  }

  #button {
    font-size: 4vw;
    padding: 0.5rem 1.7rem;
  }

  #input {
    font-size: 15px;
  }
  
  #message {
    font-size: 15px;
  }

  #message2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 415px) and (max-width: 980px) {
  header {
    padding: 0px;
  }

  #nav-cat {
    font-size: 30px;
    
  }
  
  #nav-cat2 {
    font-size: 28px;
  }

  #nav-cat3 {
    padding: 0px 20px 20px 150px;
  }
  
  .hero {
    padding: 60px;
    position: relative;
  }
  
  .hero h1 {
    font-size: 30px;
    padding: 0 15px 0 0;
  }
  
  #footer {
    padding: 0px 30px 0px 30px;
    margin: 10px;
  }
  
  #my-name {
    font-size: 50px;
    margin: 0;
    padding: 0px;
  }

  #picture-Dalia {
    margin: 10px 25px 10px 140px;
  }
  
  #me-title {
    text-align: left;
    padding: 12px;
    font-size: 40px; 
  }
  
  #me-text {
    margin: 0 0 0 0;
    font-size: 22px;
    text-align: center;
    padding: 20px;
  }
  
  #all-work-title {
    text-align: left;
    padding: 12px;
    font-size: 40px
  }
  
  #work-title {
    font-size: 27px;
    text-align: left;
    padding: 12px;
  }

  #work-title2 {
    font-size: 20px;
    text-align: left;
    padding: 3px 3px 30px 12px;
  }
  
  #work-text {
    margin: 3px 15px 0 15px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
  }
  
  #work-picture {
    margin: 10px 10px 0px 90px;
    width: 100%;
  }
  
  #form {
    padding: 20px;
    margin: 10px;
    width: 100%;
  }

  .contact-label {
    padding: 10px 10px;
    margin: 10px 0px;
    font-size: 28px;
  }

  #button {
    font-size: 4vw;;
    padding: 0.5rem 2rem;
  }

  #input {
    width: 100%;
    height: 60px;
    font-size: 25px;
    padding-left: 5px;
  }
  
  #message {
    width: 100%;
    font-size: 25px;
    padding-left: 5px;
  }

  #message2 {
    font-size: 22px;
  }
}